.bc1{
  background-color:#FFFFFF;
}

.bc2{
  background-color :#131921;
}

.bc3{
  background-color : #232F3E;
}

.bc4{
  background-color : #5e6b7a ;
}

.bc5{
  background-color: #E6E6E6;
}

.bc6{
  background-color:#FEBD69;
}

.tc1{
  color :#FFFFFF;
}

.tc2{
  color : black;
}

.tc3{
  color : #555555;
}

.tc4{
  color : #E6E6E6 ;
}
.ts11{
  font-size :11px;
}

.ts13{
    font-size: 13px;
    
}

.ts16{
    font-size: 16px;
    
}

.ts20{
  font-size : 20px;
}
.ts24{
  font-size:24px;
}

.twn{
  font-weight : normal;
}

.twbr{
  font-weight : bolder;
}



.element {
  transition: all 0.6s ease;
}

.element:hover{
  transform: scale(1.02) rotate(0deg) translate(0px, 0px) skewX(0deg);
  border : 1px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1.1);
  background-color: #3E698F66;
  color: #ffffff;
}

.fade-bottom {
  position: relative;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.cards-overlap {
  position: relative;
  margin-top: 2rem;
}


@media (min-width: 702px) {
  .cards-overlap {
    margin-top: -230px;   /* overlap amount */
  }
}